apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
    name: spire-server-cluster-role
    labels:
        app: spire-server
rules:
    # Required for k8s_psat node attestor to validate service account tokens
    - apiGroups: ["authentication.k8s.io"]
      resources: ["tokenreviews"]
      verbs: ["create"]
    # Required for k8s_psat node attestor to get node information
    - apiGroups: [""]
      resources: ["nodes"]
      verbs: ["get", "list", "watch"]
    # Required for k8s workload attestor
    - apiGroups: [""]
      resources: ["pods"]
      verbs: ["get", "list", "watch"]
    - apiGroups: [""]
      resources: ["namespaces"]
      verbs: ["get", "list", "watch"]
