apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
    name: spire-server-cluster-role-binding
    labels:
        app: spire-server
roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: spire-server-cluster-role
subjects:
    - kind: ServiceAccount
      name: spire-server
      namespace: spire-server
