repos:
  - repo: local
    hooks:
      - id: cargo-build
        name: cargo build
        entry: cargo build
        language: system
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        entry: cargo test
        language: system
        pass_filenames: false
