kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
    name: spire-csi-driver
rules:
    - apiGroups: [""]
      resources: ["nodes"]
      verbs: ["get"]
    - apiGroups: ["storage.k8s.io"]
      resources: ["csinodes"]
      verbs: ["get", "list", "watch"]
    - apiGroups: [""]
      resources: ["events"]
      verbs: ["create", "patch"]
