apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
    name: spire-agent-cluster-role
    labels:
        app: spire-agent
rules:
    # Required for Kubernetes node attestation
    - apiGroups: [""]
      resources: ["nodes"]
      verbs: ["get", "list", "watch"]
    # Required for Kubernetes workload attestation
    - apiGroups: [""]
      resources: ["pods"]
      verbs: ["get", "list", "watch"]
    - apiGroups: [""]
      resources: ["nodes/proxy"]
      verbs: ["get"]
    - apiGroups: [""]
      resources: ["namespaces"]
      verbs: ["get", "list", "watch"]
